<div class="uk-form-row">
	<label class="uk-form-label" for="choices-query">With which query ?</label>
	<div class="uk-form-controls">
		<select data-key="cq" id="choices-query" name="choices-query">
			{{#each choices_query}}
				<option value="{{ this.value }}">{{ this.label }}</option>
			{{/each}}
			<option value="custom">Custom</option>
		</select>
		<input data-key="query" name="query" readonly disabled>
	</div>
</div>