<div class="uk-height-1-1 uk-width-1-1 uk-vertical-align uk-text-large uk-text-bold">
    <div class="uk-vertical-align-middle uk-width-1-1 answers">
        {{#each answers}}
            <div class="uk-width-1-1">
                <a class="uk-panel uk-panel-box answer uk-panel-box-hover" name="{{ this.name }}">
                    <span>{{ this.label }}</span>
                </a>
            </div>
        {{/each}}
    </div>
</div>