<div class="uk-modal welcome-modal">
    <div class="uk-modal-dialog">
		<div class="uk-modal-header uk-text-center">
            <h1 class="">painful.pics</h2>
        </div>
        <div class="uk-modal-content">
			<div class="uk-width-medium-1-1 uk-container-center main-kitty">
				<img height="400" width="400" class="happy active" src="img/icon_happy400.png">
				<img height="400" width="400" class="horrified shifted" src="img/icon_horror400.png">
				<img height="400" width="400" class="sad shifted" src="img/icon400.png">
			</div>
        </div>
        <div class="uk-modal-footer uk-text-right">
            <a class="uk-button uk-button-primary uk-button-large start-game"><i class="uk-icon-tint"></i>Start game</a>
        </div>
		<a href="https://github.com/lrans/painful.pics">
			<img style="position: absolute; top: 0; left: 0; border: 0; z-index: 9999;" src="https://camo.githubusercontent.com/c6286ade715e9bea433b4705870de482a654f78a/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f77686974655f6666666666662e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_white_ffffff.png">
		</a>
    </div>
</div>