<div class="uk-modal welcome-modal">
    <div class="uk-modal-dialog">
		<div class="uk-modal-header uk-text-center">
            <h1 class="">painful.pics</h2>
        </div>
        <div class="uk-modal-content">
			<div class="uk-width-medium-1-1 uk-container-center">
				<img height="400" width="400" class="main-kitty" src="img/icon400.png">
			</div>
        </div>
        <div class="uk-modal-footer uk-text-right">
            <a class="uk-button uk-button-primary uk-button-large start-game"><i class="uk-icon-tint"></i>Start game</a>
        </div>
    </div>
</div>