<div class="players-list">
    <table>
        <tr>
            <th>Player</th>
            <th><img src="img/dialog-ok-apply.png"></th>
            <th><img src="img/edit-delete.png"></th>
            <th>%</th>
        </tr>
        {{#each players}}
            <tr>
                <td>{{this.handle}}</td>
                <td>{{this.correct}}</td>
                <td>{{this.wrong}}</td>
                <td>{{this.accuracy}}</td>
            </tr>
        {{/each}}
    </table>
</div>