<div class="image">
    <div class="image-container">
        <embed class="{{ ratio }}" src="{{ imageUrl }}"></embed>
    </div>
</div>
<div class="answers-container">
    <div class="answers">
        {{#each answers}}
            <div>
                <button class="answer" name="{{ this.name }}">{{ this.label }}</button>
            </div>
        {{/each}}
    </div>
</div>