<div>
    <div class="players"></div>
    <div class="progress">
        <progress max="{{ nbItems }}" value="{{ answered }}"></progress>
        <span class="label">{{ answered }} / {{ nbItems }}</span>
    </div>
    <div class="chart" data-percent="100" data-bar-color="#ffffff" data-track-color="#000000"></div>
</div>