[Unit]
Description=Quizz remote server
After=mongod.service

[Service]
ExecStart=/usr/bin/node /var/lib/quizz-server/index.js
Restart=always
User=nobody
Group=nobody
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/var/lib/quizz-server

[Install]
WantedBy=multi-user.target


