.main-kitty img {
	display: block;
    margin-left: auto;
    margin-right: auto;
	opacity: 0;
}

.main-kitty img.active {
	opacity: 1;
}

.main-kitty img.shifted {
	margin-top: -400px;
}

#qrcode {
    border: 3px solid white;
}

.quizz {
    height: 100%;
}

.quizz-modal {
    background: none;
}

.quizz-modal.multi .uk-modal-content .uk-flex {
    display: inline-block;
	max-width: 550px;
	vertical-align: top;
}

.quizz-modal.multi .uk-modal-dialog {
	width: 960px;
}

.quizz-modal .uk-tab.datasource-chooser {
	padding-top: 5px;
}

#datasource-settings-placeholder {
	padding-top: 5px;
}

#multi-panel-switcher {
	display: inline-block;
	max-width: 350px;
}

#theme-library-autocomplete .uk-dropdown {
	width: 100%;
	overflow-y: auto;
    max-height: 200px;
}

.quizz-modal form.quizz-settings span.uk-form-select > span {
	border-bottom: 1px dotted grey;
}

button.random-theme-button > i {
	vertical-align: -25%;
}

.image-container > .vertical {
    min-height: 90%;
	max-height: 100vh;
	min-height: 90vh;
}

.image-container > .horizontal {
    min-width: 90%;
}

.uk-progress-danger.uk-progress-bar {
    background-color: #da314b;
}

.uk-progress-success.uk-progress-bar {
    background-color: #8cc14c;
}

.answers .uk-panel {
    border-width: thick;
	font-size: xx-large;
}

.answers .uk-badge {
    float: right;
}

.answers > * {
    padding:5px;
}

.uk-panel.active {
    border-color: #00a8e6;
}

.uk-panel.correct {
    border-color: #8cc14c;
}

.uk-panel.wrong {
    border-color: #da314b;
}

.uk-shownoitems .uk-dropdown:empty::before {
    content: "No results";
}

.mosaicflow__column {
  float: left;
}
.mosaicflow__item img {
  display: block;
  width: 100%;
  height: auto;
}
