#qrcode {
    border: 3px solid white;
}

.quizz {
    height: 100%;
}

.quizz-modal {
    background: none;
}

.quizz-modal.multi .uk-modal-content .uk-flex {
    display: inline-block;
	max-width: 550px;
}

.quizz-modal.multi .uk-modal-dialog {
	width: 960px;
}

#multi-panel-switcher {
	display: inline-block;
	max-width: 350px;
}

.image-container > .vertical {
    min-height: 90%;
}

.image-container > .horizontal {
    min-width: 90%;
}

.uk-progress-danger.uk-progress-bar {
    background-color: #da314b;
}

.uk-progress-success.uk-progress-bar {
    background-color: #8cc14c;
}

.answers .uk-panel {
    border-width: thick;
}

.answers .uk-badge {
    float: right;
}

.answers > * {
    padding:5px;
}

.uk-panel.active {
    border-color: #00a8e6;
}

.uk-panel.correct {
    border-color: #8cc14c;
}

.uk-panel.wrong {
    border-color: #da314b;
}

