#show {
        background-color:black;
        position:absolute;
        top:0px;
        left:0px;
        width:100%;
        height:100%;
        overflow:auto;
}
body {
        background-color:black;
        padding:0px;
        margin:0px;
        width:100%;
        height:100%;
        overflow:hidden;
}

div.submission {
    border: 1px solid white;
    padding: 5px;
    background-color: black;
    display: block;
    position: absolute;
}

div.submission img {
    
}

#tools {
    float: right;
    z-index: 5000;
    margin-top:200px;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    padding: 5px 5px 5px 5px;
}

#tools img {
    display: block;
    margin: 2px;
    z-index: 5000;
    cursor: pointer;
}

div.submissions-buttons {
    float: right;
}

div.submissions-buttons a {
    border: none;
}

