#show {
    background-color:black;
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    overflow:hidden;
}

body {
    background-color:black;
    padding:0px;
    margin:0px;
    width:100%;
    height:100%;
    overflow:hidden;
}

div.submission {
   /* border: 1px solid white;
    padding: 5px;
    background-color: black;*/
    display: block;
    position: absolute;
}

div.submission > img {
    box-shadow: 2px 2px 2px #2A2A2A;
    border: 1px solid #2A2A2A;
}

#tools {
    float: right;
    z-index: 5000;
    margin-top:200px;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    padding: 5px 5px 5px 5px;
}

#tools img {
    display: block;
    margin: 2px;
    z-index: 5000;
    cursor: pointer;
}

div.submission-buttons {
    background-color: gray;
    border-radius: 8px 8px 8px 8px;
    bottom: 5px;
    height: 40px;
    opacity: 0.9;
    position: absolute;
    right: 5px;
}

div.submission-buttons a {
    border: none;
}

div.submission-buttons img {
    padding: 5px;
    cursor: pointer;
}

div.submission-infos {
    background-color: gray;
    border-radius: 8px 8px 8px 8px;
    top: 5px;
    opacity: 0.9;
    position: absolute;
    left: 5px;
    padding: 3px;
}

#login-modal label {
    padding: 2px;
    margin: 5px;
    display: block;
    border: 1px solid gray;
}
